<div class="col-sm-2"></div>
<div class="col-sm-8">
    <form class="form" role="form">
        <div data-ng-hide="message == '' || !message" class="alert" data-ng-class="(savedSuccessfully) ? 'alert-success' : 'alert-danger'">
            {{message}}
        </div>
        <h2>Agende uma consulta</h2>
        <hr />
        <div class="form-group row">
            <label for="data" class="col-md-2 col-form-label">Data</label>
            <div class="col-md-10">
                <input id="data" type="datetime-local" min="" class="form-control" placeholder="Data da consulta" data-ng-model="consulta.dataHora" id="dataConsulta" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="duracao" class="col-md-2 col-form-label">Duração</label>
            <div class="col-md-10">
                <input id="duracao" type="number" min="30" max="60" class="form-control" placeholder="Duração da cunsulta"
                       data-ng-model="consulta.duracao" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="especialidade" class="col-md-2 col-form-label">Especialidade</label>
            <div class="col-md-10">
                <select id="especialidade" class="form-control" ng-model="especialidade" ng-options="especialidade as especialidade.Nome for especialidade in especialidades"></select>
            </div>
        </div>
        <div class="form-group row">
            <label for="medico" class="col-md-2 col-form-label">Médico</label>
            <div class="col-md-10">
                <select id="medico" class="form-control" data-ng-model="consulta.crmMedicoResponsavel" ng-options="medico as medico.Nome for medico in medicos | filter:{Especialidade:especialidade.Nome}:true"></select>
            </div>
        </div>

        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="agendar()">Submit</button>
    </form>
</div>
﻿
