<div class="container-fluid">
    <h2>Suas consultas</h2>
    <hr />
    <h3 ng-hide="consultas.length > 0">
        Você não tem consultas para mostrar
    </h3>
    <div class="col-md-12" ng-show="consultas.length > 0">
        <h4>Filtros</h4>
        <div class="form-group row">
            <label for="especialidade" class="col-md-2 col-form-label">Especialidade</label>
            <div class="col-md-10">
                <select id="especialidade" class="form-control" ng-model="especialidade">
                    <option value="{{undefined}}" selected="selected">Todos</option>
                    <option ng-repeat="especialidade in especialidades" value="{{especialidade.Nome}}">
                        {{especialidade.Nome}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-md-2 col-form-label">Status</label>
            <div class="col-md-10">
                <select id="status" class="form-control" ng-model="status">
                    <option value="{{undefined}}" selected="selected">Todos</option>
                    <option value="0">Agendada</option>
                    <option value="1">Cancelada</option>
                    <option value="2">Realizada</option>
                </select>
            </div>
        </div>
        <div class="table-responsive row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Médico</th>
                        <th>Data</th>
                        <th>Hora de início</th>
                        <th>Hora de término</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="consulta in consultas | filter:{Medico: {Especialidade:especialidade||undefined}}:true | filter:{Status: status||undefined}">
                        <td>{{consulta.Medico.Nome}}</td>
                        <td>{{util.formatarData(consulta.DataHora)}}</td>
                        <td>{{util.formatarHora(consulta.DataHora)}}</td>
                        <td>{{util.formatarHora(util.addMinutes(consulta.DataHora, consulta.Duracao))}}</td>
                        <td ng-class="{'text-primary': getNomeStatusConsulta(consulta.Status) == 'Agendada', 
                                       'text-danger': getNomeStatusConsulta(consulta.Status) == 'Cancelada',
                                       'text-success': getNomeStatusConsulta(consulta.Status) == 'Realizada'}">{{getNomeStatusConsulta(consulta.Status)}}</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" ng-click="alterar()">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>