<div class="container-fluid">
    <div class="row" style="margin-right: -30px">
        <div class="col-sm-4">
            <h2>Agendar uma consulta</h2>
            <p class="text-primary">Agende uma consulta com um de nossos médicos!</p>
            <p><a class="btn btn-info" href="/agendar" role="button">Agendar &raquo;</a></p>
            <hr>
            <h2>Conta</h2>
            <p class="text-primary">Edite seus dados cadastrais</p>
            <p><a class="btn btn-info" href="/conta" role="button">Conta &raquo;</a></p>
            <hr />
            <h2>Visualizar suas consultas</h2>
            <p class="text-primary">Edite e visualize seus dados de consultas</p>
            <p><a class="btn btn-info" href="/consultas" role="button">Consultas &raquo;</a></p>
        </div>
        <!-- <div class="col-md-2"></div> -->
        <div class="col-sm-8" style="overflow-y: scroll; height: calc(100vh - 101px)">
            <h2>Sua agenda</h2>
            <hr />
            <h3 ng-hide="consultas.length > 0">
                Sua agenda está vazia!
            </h3>
            <div class="table-responsive" ng-show="consultas.length > 0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Médico</th>
                    <th>Horário</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="consulta in consultas">
                    <td>{{consulta.Medico.Nome}}</td>
                    <td>{{consulta.DataHora | date: 'dd/MM/yyyy - HH:mm'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
