<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cadastro de médico</h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="form" role="form" name="formCadastro">
        <div class="row">
            <div class="col-sm-12" data-ng-hide="message == ''">
                <div class="alert" ng-class="{'alert-danger': !savedSuccessfully,
                                'alert-success': savedSuccessfully}">
                    {{message}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Informações de login</h2>
                <br>
                <div class="form-group row">
                    <label for="data" class="col-md-2 col-form-label">Username</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Usuário" data-ng-model="registration.userName" required autofocus />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="duracao" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" placeholder="E-mail" data-ng-model="registration.email" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="especialidade" class="col-md-2 col-form-label">Senha</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="Senha" data-ng-model="registration.senha" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="medico" class="col-md-2 col-form-label">Confirmar Senha</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" placeholder="Confirme a senha" data-ng-model="registration.confSenha" required />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Informações pessoais</h2>
                <br>
                <div class="form-group row">
                    <label for="nome" class="col-md-2 col-form-label">Nome</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Nome completo" data-ng-model="registration.nomeCompleto" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dataNasc" class="col-md-2 col-form-label">Data de nascimento</label>
                    <div class="col-md-10">
                        <input type="date" class="form-control" placeholder="Data de nascimento" data-ng-model="registration.dataNasc" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endereco" class="col-md-2 col-form-label">Endereço</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Endereço" data-ng-model="registration.endereco" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="telefone" class="col-md-2 col-form-label">Telefone</label>
                    <div class="col-md-10">
                        <input type="tel" class="form-control" placeholder="Telefone" data-ng-model="registration.telefone" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="celular" class="col-md-2 col-form-label">Celular</label>
                    <div class="col-md-10">
                        <input type="tel" class="form-control" placeholder="Celular" data-ng-model="registration.celular" required />
                    </div>
                </div>
                <!--<div class="form-group row">
                    <label for="foto" class="col-md-2 col-form-label">Foto</label>
                    <div class="col-md-10">
                        <input type="file" data-ng-model="userData.foto" required>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Informações de carreira</h2>
                <br>
                <div class="form-group row">
                    <label for="especialidade" class="col-md-2 col-form-label" required>Especialidade</label>
                    <div class="col-md-10">
                        <select class="form-control" id="especialidade" ng-model="registration.idEspecialidade">
                            <option value="{{undefined}}" disabled>Selecione a especialidade</option>
                            <option value="{{especialidade.id}}" ng-repeat="especialidade in especialidades">{{especialidade.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="crm" class="col-md-2 col-form-label">CRM</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" maxlength="7" placeholder="CRM" data-ng-model="registration.crm" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="formAgendar.$valid && cadastrar()">Cadastrar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
    </form>
</div>