<div class="row" style="height: calc(100vh - 50px)" id="background">
    <div style="height: 20vh"></div>
    <div class="col-sm-0 col-md-1 col-lg-3"></div>
    <div class="col-sm-12 col-md-10 col-lg-6">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Consultório Médico</h1>
                <hr class="my-4">
                <p class="lead">Agende consultas, veja seu prontuário, verifique exames, tudo de uma maneira rápida e fácil. Temos os melhores médicos da região, com certeza você achará um médico que o satisfará naquilo que voceê precisar.</p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-7">
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut iaculis dui. Phasellus nec tellus erat. Vivamus fermentum est ipsum, sed feugiat enim pretium a. Sed auctor iaculis metus, vitae placerat diam varius eget. Duis augue metus, porta in sagittis ac, dignissim a massa. Sed vitae sagittis metus. Praesent aliquam, ex sit amet pharetra ultrices, tortor est feugiat neque, nec fermentum ante lorem nec risus. Vestibulum pretium libero justo, a varius leo rhoncus ac. Duis condimentum, tortor viverra convallis tincidunt, erat nulla dignissim erat, ac suscipit ante dolor molestie ante. Vestibulum sed sem non justo ultrices aliquam vel vitae lectus. Mauris eget leo pharetra, accumsan nibh ut, volutpat dolor. Quisque ultricies ipsum neque, id gravida eros aliquam ut. Morbi purus neque, tincidunt nec blandit sed, tempor at magna. Nunc nunc odio, suscipit et ipsum eu, scelerisque elementum mi.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7" style="float: right">
        <div class="jumbotron">
            <h1>Dúvidas frequentes</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut iaculis dui. Phasellus nec tellus erat. Vivamus fermentum est ipsum, sed feugiat enim pretium a. Sed auctor iaculis metus, vitae placerat diam varius eget. Duis augue metus, porta in sagittis ac, dignissim a massa. Sed vitae sagittis metus. Praesent aliquam, ex sit amet pharetra ultrices, tortor est feugiat neque, nec fermentum ante lorem nec risus. Vestibulum pretium libero justo, a varius leo rhoncus ac. Duis condimentum, tortor viverra convallis tincidunt, erat nulla dignissim erat, ac suscipit ante dolor molestie ante. Vestibulum sed sem non justo ultrices aliquam vel vitae lectus. Mauris eget leo pharetra, accumsan nibh ut, volutpat dolor. Quisque ultricies ipsum neque, id gravida eros aliquam ut. Morbi purus neque, tincidunt nec blandit sed, tempor at magna. Nunc nunc odio, suscipit et ipsum eu, scelerisque elementum mi.
            </p>
        </div>
    </div>
</div>
