<!DOCTYPE html>
<html data-ng-app="Consultorio">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Consultório</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <base href="/">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation" data-ng-controller="indexController" style="margin: 0">
    <div class="container-fluid" data-ng-hide="authService.auth.isAuthenticated">
    <!--  Colapse navbar  -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Consultório</a>
      </div>

      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
        <ul class="nav navbar-nav align-left">
          <li><a href="/" ng-click="">Sobre</a></li>
          <li><a href="/" ng-click="">Dúvidas frequentes</a></li>
          <li><a href="/" ng-click="">Fale conosco</a></li>
        </ul>
        <ul class="nav navbar-nav align-right">
          <li><a href="/login">Login</a></li>
          <li><a href="/cadastro">Cadastro</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid" data-ng-hide="!authService.auth.isAuthenticated">
    <!--  Colapse navbar  -->
      <div class="navbar-header">
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle class="navbar-brand">
            {{authService.auth.userName}}
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/conta">Sua conta</a></li>
            <li><a href="/consultas">Suas consultas</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href ng-click="logOut()">Logout</a></li>
          </ul>
        </span>
      </div>

      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
        <ul class="nav navbar-nav align-right">
          <li><a href="/agendar">Agendar Consulta</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container-fluid">
        <div data-ng-view="">
        </div>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-default" id="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
              <p class="text-muted navbar-text">Consultorio ©</p>
            </div>
        </div>
      </div>
    </nav>

    <!-- 3rd party libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.6/angular-touch.min.js"></script>
    <script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.js"></script>
    <script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.js "></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/common/services/authInterceptorService.js"></script>
    <script src="app/common/services/authService.js"></script>
    <script src="app/common/services/informationService.js"></script>
    <!-- Load controllers -->
    <script src="app/common/controllers/indexController.js"></script>
    <script src="app/common/controllers/homeController.js"></script>
    <script src="app/common/controllers/loginController.js"></script>
    <script src="app/common/controllers/cadastroController.js"></script>

    <script src="app/paciente/services/pacienteService.js"></script>
    <script src="app/paciente/controllers/dashboardController.js"></script>
    <script src="app/paciente/controllers/agendamentoController.js"></script>
    <script src="app/paciente/controllers/contaController.js"></script>
</body>
</html>
