<!DOCTYPE html>
<html data-ng-app="Consultorio">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Consultório</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <nav class="navbar navbar-light bg-light" role="navigation" data-ng-controller="indexController">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation" ng-click="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"> Consultório </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" uib-collapse="isCollapsed">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active" data-ng-hide="!auth.isAuthenticated"><a href="">Bem Vindo {{auth.userName}}</a></li>
                  <li class="nav-item active" data-ng-hide="!auth.isAuthenticated"><a href="" data-ng-click="logOut()">Logout</a></li>
                  <li class="nav-item active" data-ng-hide="auth.isAuthenticated"> <a href="#/login">Login</a></li>
                  <li class="nav-item active" data-ng-hide="auth.isAuthenticated"> <a href="#/cadastro">Sign Up</a></li>
              </ul>
          </div>
    </nav>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Consultorio ®</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.js"></script>
    <script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.js "></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/constsProviderService.js"></script>
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/cadastroController.js"></script>
</body>
</html>
