<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Agendar uma consulta</h2>
            <p class="text-primary">Agende uma consulta com um de nossos médicos!</p>
            <p><a class="btn btn-info" href="/agendamento" role="button">Agendar &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Conta</h2>
            <p class="text-primary">Edite seus dados cadastrais</p>
            <p><a class="btn btn-info" href="/conta" role="button">Conta &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sua agenda</h2>
            <hr />
            <b>AGENDA AQUI</b>
        </div>
    </div>
</div>