<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Consultório Médico</h1>
        <hr class="my-4">
        <p class="lead">Agende consultas, veja seu prontuário, verifique exames, tudo de uma maneira rápida e fácil.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">HEY</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastre-se</h2>
        <p class="text-primary">HO</p>
        <p><a class="btn btn-info" href="#/cadastro" role="button">Cadastro &raquo;</a></p>
    </div>
</div>
