<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Consultório Médico</h1>
        <hr class="my-4">
        <p class="lead">Agende consultas, veja seu prontuário, verifique exames, tudo de uma maneira rápida e fácil.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Já é nosso cliente? <a href="/login">Acesse sua conta!</a>
        <p><a class="btn btn-info" href="/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="float: right">Cadastre-se</h2>
        <p style="float: right">Ainda não conhece nossos serviços? <a href="/cadastro">Cadastre-se!</a></p>
        <p><a class="btn btn-info" href="/cadastro" role="button" style="float: right">Cadastro &raquo;</a></p>
    </div>
</div>
<hr />
<br>
<div class="row">
    <div class="col-sm-0 col-md-1"></div>
    <div class="col-sm-12 col-md-10">
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut iaculis dui. Phasellus nec tellus erat. Vivamus fermentum est ipsum, sed feugiat enim pretium a. Sed auctor iaculis metus, vitae placerat diam varius eget. Duis augue metus, porta in sagittis ac, dignissim a massa. Sed vitae sagittis metus. Praesent aliquam, ex sit amet pharetra ultrices, tortor est feugiat neque, nec fermentum ante lorem nec risus. Vestibulum pretium libero justo, a varius leo rhoncus ac. Duis condimentum, tortor viverra convallis tincidunt, erat nulla dignissim erat, ac suscipit ante dolor molestie ante. Vestibulum sed sem non justo ultrices aliquam vel vitae lectus. Mauris eget leo pharetra, accumsan nibh ut, volutpat dolor. Quisque ultricies ipsum neque, id gravida eros aliquam ut. Morbi purus neque, tincidunt nec blandit sed, tempor at magna. Nunc nunc odio, suscipit et ipsum eu, scelerisque elementum mi.
            </p>
        </div>
    </div>
</div>
