<div class="row">
    <div class="col-md-12">
        <h1>Cadastro de médico</h1>
        <hr>
        </div>
</div>

<form class="form" role="form">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <h2>Informações de login</h2>
        <br>
        <div class="form-group row">
            <label for="data" class="col-md-2 col-form-label">Username</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Usuário" data-ng-model="registration.userName" required autofocus />
            </div>
        </div>
        <div class="form-group row">
            <label for="duracao" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" placeholder="E-mail" data-ng-model="registration.email" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="especialidade" class="col-md-2 col-form-label">Senha</label>
            <div class="col-md-10">
                <input type="password" class="form-control" placeholder="Senha" data-ng-model="registration.senha" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="medico" class="col-md-2 col-form-label">Confirmar Senha</label>
            <div class="col-md-10">
                <input type="password" class="form-control" placeholder="Confirme sua senha" data-ng-model="registration.confSenha" required />
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <h2>Informações pessoais</h2>
        <br>
        <div class="form-group row">
            <label for="data" class="col-md-2 col-form-label">Nome</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Nome completo" data-ng-model="registration.nomeCompleto" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="especialidade" class="col-md-2 col-form-label">Data de nascimento</label>
            <div class="col-md-10">
            <input type="date" class="form-control" placeholder="Data de nascimento" data-ng-model="registration.dataNasc" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="medico" class="col-md-2 col-form-label">Telefone</label>
            <div class="col-md-10">
                <input type="tel" class="form-control" placeholder="Telefone" data-ng-model="registration.telefone" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="especialidade" class="col-md-2 col-form-label">Especialidade</label>
            <div class="col-md-10">
                <select class="form-control" id="especialidade" ng-model="especialidade">
                    <option value="{{undefined}}">Selecione a especialidade</option>
                    <option value="{{especialidade.nome}}" ng-repeat="especialidade in especialidades">{{especialidade.nome}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <input type="file" data-ng-model="registration.foto" required>
        </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="cadastrar()">Submit</button>
    </div>
</form>
