<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset">
            <button class="btn btn-info btn-block" type="submit" ng-click="cadastrarMedico()">Cadastrar médico</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success btn-block" type="submit" ng-click="cadastrarEspecialidade()">Cadastrar especialidade</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-sm-offset">
            <h2 id="estatstica">Estatística</h2>
            <hr />
            <div class="row">
                <div class="col-sm-6"ng-controller="consultaMensalPorMedicoController as data">
                    <canvas class="chart chart-line" chart-data="data.data" chart-labels="data.labels"></canvas> 
                </div>
            </div>
        </div>
    </div>
</div>