body {
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.horizontal-collapse {
    height: 70px;
}

.navbar-items-right{
    float: right;
    text-align: right
}

.navbar-items-left{
    float: left;
    text-align: left
}

.not-padd{
    padding: 0
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
