body {
    padding-bottom: 50px
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.horizontal-collapse {
    height: 70px;
}

.align-right{
    float: right;
    text-align: right
}

.align-left{
    float: left;
    text-align: left
}

.not-padd{
    padding: 0
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center{
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
}

#homeRow{
    background-image: url(../../imagens/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    margin-top: 15px;
}

.horizontal-collapse {
  height: 70px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}
